
Hi {{ name }}!
<br>
You're successfully registered.
<br>
Thank you for your registration.
<br>
Please: <a href="{{ baseUrl ~ path('user_verification', { 'activation_code': activationCode }) }}">Click here</a> to verify your email address.
<br>  Thank you.




