
Hi {{ name }}!
<br>
.Password generation link:
<br>
Please: <a href="{{ baseUrl ~ path('user_verification', { 'activation_code': activationCode }) }}">Click here</a> to generate yout password.
<br>  Thank you.




