<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12 footerstart">
            <div class="row">
                <p>Copyright &copy;
                    &nbsp; &nbsp;<a href="{{ path('news_rss') }}">Rss feed</a> </p>
            </div>
        </div>
    </div>
    <!-- /.row -->
</footer>